In [2]:
import pandas as pd

In [3]:
import json

### JSON Exercise

In [4]:
json_df = pd.read_json('world_bank_projects.json')

In [5]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [6]:
json_df.describe()

,approvalfy,grantamt,ibrdcommamt,idacommamt,lendprojectcost,totalamt,totalcommamt
count,500.000000,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02
mean,2013.108000,4.432400e+06,3.286010e+07,3.542136e+07,1.547241e+08,6.828146e+07,7.271386e+07
std,0.722066,2.023307e+07,1.089197e+08,7.681431e+07,4.764211e+08,1.242662e+08,1.234705e+08
min,1999.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+04,0.000000e+00,3.000000e+04
25%,2013.000000,0.000000e+00,0.000000e+00,0.000000e+00,6.472500e+06,0.000000e+00,5.000000e+06
50%,2013.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+07,2.000000e+07,2.500000e+07
75%,2013.000000,1.695000e+06,0.000000e+00,3.700000e+07,1.021250e+08,8.625000e+07,9.045000e+07
max,2015.000000,3.650000e+08,1.307800e+09,6.000000e+08,5.170000e+09,1.307800e+09,1.307800e+09

In [7]:
json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [7]:
#from pandas.io.json import json_normalize

In [31]:
#json_str = json.load(open('world_bank_projects.json'))

In [32]:
#type(json_str)

list

In [35]:
#json_norm = json_normalize(json_str)

In [36]:
#type(json_norm)

pandas.core.frame.DataFrame

In [69]:
## Start over

In [8]:
from pandas.io.json import json_normalize

In [9]:
cproj = json_df[['countryshortname','project_name','mjtheme_namecode','mjthemecode']]

In [10]:
cproj.head()

,countryshortname,project_name,mjtheme_namecode,mjthemecode
0,Ethiopia,Ethiopia General Education Quality Improvement...,"[{'code': '8', 'name': 'Human development'}, {...","8,11"
1,Tunisia,TN: DTF Social Protection Reforms Support,"[{'code': '1', 'name': 'Economic management'},...","1,6"
2,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"[{'code': '5', 'name': 'Trade and integration'...","5,2,11,6"
3,"Yemen, Republic of",Gov't and Civil Society Organization Partnership,"[{'code': '7', 'name': 'Social dev/gender/incl...","7,7"
4,Lesotho,Second Private Sector Competitiveness and Econ...,"[{'code': '5', 'name': 'Trade and integration'...","5,4"

In [11]:
grp_country = cproj.groupby('countryshortname')

In [12]:
count_by_country = grp_country['project_name'].count()

In [13]:
#print(count_by_country.sort_values(ascending=False))

In [14]:
grp_proj = cproj.groupby('mjtheme_namecode')

In [15]:
type(cproj['mjtheme_namecode'])

pandas.core.series.Series

In [16]:
cproj['mjtheme_namecode'].head()

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [17]:
cproj['mjtheme_namecode'][0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

In [18]:
new_df = pd.concat([pd.DataFrame(json_normalize(x)) for x in cproj['mjtheme_namecode']],ignore_index=True)

In [19]:
new_df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [20]:
grp_by_name = new_df.groupby('name')

In [21]:
grp_by_name['code'].count()

name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197
Public sector governance                        184
Rule of law                                      12
Rural development                               202
Social dev/gender/inclusion                     119
Social protection and risk management           158
Trade and integration                            72
Urban development                                47
Name: code, dtype: int64

In [22]:
new_df['name'].value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [23]:
mydict={}
for index, row in new_df.iterrows():
    if row['name'] != '':
        #print(row['code'], row['name'])
        mydict[row['code']] = row['name']
for theme in sorted(mydict):
    print(theme,mydict[theme])   
    new_df['themecol'] = mydict[theme]

1 Economic management
10 Rural development
11 Environment and natural resources management
2 Public sector governance
3 Rule of law
4 Financial and private sector development
5 Trade and integration
6 Social protection and risk management
7 Social dev/gender/inclusion
8 Human development
9 Urban development

In [32]:
new_df.head()

  code                                   name           themecol
0    8                      Human development  Urban development
1   11                                         Urban development
2    1                    Economic management  Urban development
3    6  Social protection and risk management  Urban development
4    5                  Trade and integration  Urban development

In [67]:
mydict={}
def themecol(cols):
    code = cols[0]
    name = cols[1]
    #for index, row in df.iterrows():
    if name != '':
        mydict[code] = name    
        #return mydict[code]
    for theme in mydict:
        return mydict[theme]

In [76]:
#new_df['mycol'] = new_df.apply(themecol, axis=1)
#new_df['mycol'] = themecol(new_df,1)
#new_df['my_col'] = new_df[['code', 'name']].apply(themecol,axis=1)
new_df['themename'] = new_df[['code', 'name']].apply(themecol, axis=1)

In [77]:
new_df

     code                                          name          themename
0       8                             Human development  Human development
1      11                                                Human development
2       1                           Economic management  Human development
3       6         Social protection and risk management  Human development
4       5                         Trade and integration  Human development
5       2                      Public sector governance  Human development
6      11  Environment and natural resources management  Human development
7       6         Social protection and risk management  Human development
8       7                   Social dev/gender/inclusion  Human development
9       7                   Social dev/gender/inclusion  Human development
10      5                         Trade and integration  Human development
11      4      Financial and private sector development  Human development
12      6         Social protection and risk management  Human development
13      6                                                Human development
14      2                      Public sector governance  Human development
15      4      Financial and private sector development  Human development
16     11  Environment and natural resources management  Human development
17      8                                                Human development
18     10                             Rural development  Human development
19      7                                                Human development
20      2                      Public sector governance  Human development
21      2                      Public sector governance  Human development
22      2                      Public sector governance  Human development
23     10                             Rural development  Human development
24      2                                                Human development
25     10                             Rural development  Human development
26      6         Social protection and risk management  Human development
27      6         Social protection and risk management  Human development
28     11  Environment and natural resources management  Human development
29      4                                                Human development
...   ...                                           ...                ...
1469    8                             Human development  Human development
1470    9                             Urban development  Human development
1471    6         Social protection and risk management  Human development
1472    6         Social protection and risk management  Human development
1473    9                             Urban development  Human development
1474    2                      Public sector governance  Human development
1475    2                      Public sector governance  Human development
1476   10                             Rural development  Human development
1477   11                                                Human development
1478    8                             Human development  Human development
1479    7                   Social dev/gender/inclusion  Human development
1480   11  Environment and natural resources management  Human development
1481    5                                                Human development
1482    6         Social protection and risk management  Human development
1483    8                                                Human development
1484    4      Financial and private sector development  Human development
1485    7                   Social dev/gender/inclusion  Human development
1486    8                             Human development  Human development
1487    5                         Trade and integration  Human development
1488    2                      Public sector governance  Human development
1489    8                             Human development  Human development
1490   10                             Rural development  Human development
1491    6                                                Human development
1492   10                             Rural development  Human development
1493   10                             Rural development  Human development
1494   10                             Rural development  Human development
1495    9                             Urban development  Human development
1496    8                             Human development  Human development
1497    5                         Trade and integration  Human development
1498    4      Financial and private sector development  Human development

[1499 rows x 3 columns]

In [495]:
#d = {key: value for (key, value) in iterable}

In [496]:
#d = {row['code']: row['name'] for (index, row) in new_df.iterrows() if row['name'] != ''}

In [533]:
mydict={}
def mynewcol(df):
    for index, row in df.iterrows():
        if row['name'] != '':     
            mydict[row['code']] = row['name']
    for theme in mydict:
        return(theme, mydict[theme])

In [534]:
res, code  = mynewcol(new_df)

In [536]:
code

'Human development'

In [558]:
newdict = {}

In [579]:

def fillcol():
    for index, row in new_df.iterrows():
        if row[1] != ' ':
            newdict[row[0]] = row[1]
    for theme in newdict:
        return mydict[theme]

In [582]:
#new_df['col10'] = new_df.apply(fillcol())

In [ ]:
#df['color'] = np.where(df['Set']=='Z', 'green', 'red')

In [544]:
new_df['c'] = np.where(new_df['name']!= '',new_df['code'])

'Human development'

In [1]:
new_df.head()

NameError: name 'new_df' is not defined